.logs {
  display: flex;
  width: 100%;

  .logsContainer {
    flex: 6;

    .datatable {
      height: 600px;
      padding: 20px;

      .datagrid {
        .MuiDataGrid-cell {
          display: flex !important;
          align-items: center !important;
          padding: 10px 0;
        }

        .status {
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 12px;

          &.login {
            background-color: rgba(0, 128, 0, 0.1);
            color: green;
          }
          &.logout {
            background-color: rgba(255, 0, 0, 0.1);
            color: crimson;
          }
        }
      }

      .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: #2A174E;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
        flex-wrap: wrap;

        .filterSection {
          display: flex;
          align-items: center;
          gap: 15px;
          flex: 1;
          margin-left: 20px;
          margin-right: 20px;
          justify-content: flex-end;

          .searchWrapper {
            width: 100%;
            max-width: 250px;
            min-width: 150px;

            input {
              width: 100%;
              padding: 8px 15px;
              border: 1px solid #2A174E;
              border-radius: 20px;
              outline: none;
              font-size: 14px;
              background-color: #f9f9f9;
              margin-right: 100px;

              &::placeholder {
                color: #999;
              }

              &:focus {
                box-shadow: 0 0 5px rgba(42, 23, 78, 0.3);
              }
            }
          }

          .dropdownWrapper {
            .userSelect {
              padding: 8px 12px;
              border: 1px solid #2A174E;
              border-radius: 8px;
              background-color: #f9f9f9;
              color: #2A174E;
              font-size: 14px;
              outline: none;
              cursor: pointer;
              margin-left: 35px;

              &:focus {
                box-shadow: 0 0 5px rgba(42, 23, 78, 0.3);
              }
            }
          }
        }

        .headerButton {
          background-color: #2A174E;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 8px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #502c92;
          }

          &:active {
            transform: scale(0.95);
          }

          &:disabled {
            background-color: gray;
            cursor: not-allowed;
          }
        }
      }

      .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton {
          padding: 4px 10px;
          border-radius: 5px;
          color: darkblue;
          width: 50px;
          text-align: center;
          border: 1px dotted rgba(0, 0, 139, 0.596);
          cursor: pointer;
          margin: 10px;
        }

        .viewButton:hover {
          background-color: rgba(0, 0, 139);
          transition: all 0.3s ease;
          color: white;
        }
      }
    }
  }
}