/* src/pages/login/forgotPassword.scss */
@import "../login/login.scss";

.forgotPasswordPage {
  .loginContainer {
    p {
      font-size: 14px;
      color: #666;
      margin-bottom: 20px;
    }

    .bottomLinks {
      margin-top: 30px;
      
      .backLink {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: #2a174e; // Your primary purple
        font-weight: 600;
        font-size: 14px;

        .icon { font-size: 18px; }
        &:hover { text-decoration: underline; }
      }
    }
  }
}